.movie_main{
    height: 100%;
    width: 370px;
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-left: 240px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
}